.card {
    border: 1px solid white;
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
    margin: 25px auto;
}

.card-img {
    height: 300px;
}

img {
    height: 100%;
    width: 100%;
}

.card-description {
    text-align: center;
    padding: 10px;
}


.card:hover {
    background-color: hsl(115, 79%, 39%, 0.66);
}

@media screen and (max-width: 780px) {
    .card {
        width: 250px; 
    }

    .card-img {
        height: 200px;
    }

    .card-description {
        font-size: 14px;
    }
}