<div class="container header">
  <div class="container-left">
    <a [routerLink]="['/']"
      ><img id="logo" src="../../../assets/img/logo2.png"
    /></a>
  </div>
  <nav class="container-right">
    <ul class="nav-container">
      <li>
        <a
          [routerLink]="['/personajes']"
          routerLinkActive="active"
          routerLinkActiveTitle="Personajes de mi nueva aplicación"
          >Personajes</a
        >
      </li>
      <li>
        <a [routerLink]="['/episodios']" routerLinkActive="active">Episodios</a>
      </li>
      <li>
        <a [routerLink]="['/locaciones']" routerLinkActive="active"
          >Locaciones</a
        >
      </li>
    </ul>
  </nav>
</div>
